@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #e3f2fd;
}

.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.container .color{
    list-style: none;
    margin: 13px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, .08);
    transition: all .3s ease;
}

.color:hover .rect-box{
    filter: brightness(106%);
}

.container .color:active{
    transform: scale(.90);
}

.color .rect-box{
    width: 185px;
    height: 185px;
    border-radius: 5px;
    background-color: #8a6cff;
}

.color .hex-value{
    display: block;
    color: #444;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
}

.refresh-btn {
    position: fixed;
    left: 50%;
    bottom: 40px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 20px;
    background: #8a6cff;
    border: 2px solid #fff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, .08);
    transform: translateX(-50%);
}